.container {
    /* Minimum height for dropdown menus */
    min-height: 200px;
    /* Allow panning and zooming, but disallow double tap so there's no delay when
    /* single clicking on controls. */
    touch-action: manipulation;
    margin-bottom: 6px;
}

.item::before,
.item::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 6px;
    bottom: -6px;
    z-index: 100;
    background-color: inherit;
    border: 0;
    border-style: solid;
    border-bottom-width: 1px;
    border-color: inherit;
}

.item::before {
    left: 48px;
    border-left-width: calc(1px * var(--sqrt-2));
    transform: skewX(45deg);
}

.item::after {
    left: 54px;
    border-right-width: calc(1px * var(--sqrt-2));
    transform: skewX(-45deg);
}

.node-status-icon {
    background-color: var(--bs-white);
    clip-path: circle(closest-side);
    padding: 2px;
}
