:root {
    --sqrt-2: 1.41421356237;
}

/* CodeMirror editor

    See <https://codemirror.net/examples/styling>
*/
.cm-scroller {
    overflow: auto;
    height: 100%;
}

.cm-editor {
    height: 100%;
}

/* Utilities */

/* A short transition animation */
.transition {
    transition: all 200ms;
}

.scrollable {
    height: 100%;
    overflow: auto;
}

.full-height,
sl-tab-group.full-height,
sl-tab-group.full-height::part(base),
sl-tab-group.full-height::part(body),
sl-tab-group.full-height>sl-tab-panel,
sl-tab-group.full-height>sl-tab-panel::part(base) {
    height: 100%;
}

html,
body {
    height: 100%;
}