:root {
    --sqrt-2: 1.41421356237;
}

/* CodeMirror editor

    See <https://codemirror.net/examples/styling>
*/
.cm-scroller {
    overflow-y: auto;
}

.cm-editor {
    overflow: hidden;
}

/* Components */

/* The `CallTree` component */
.call-tree {
    /* Minimum height for dropdown menus */
    min-height: 200px;
    /* Allow panning and zooming, but disallow double tap so there's no delay when
    /* single clicking on controls. */
    touch-action: manipulation;
    margin-bottom: 6px;
}

.call-tree--item::before,
.call-tree--item::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 6px;
    bottom: -6px;
    z-index: 100;
    background-color: inherit;
    border: 0;
    border-style: solid;
    border-bottom-width: 1px;
    border-color: inherit;
}

.call-tree--item::before {
    left: 48px;
    border-left-width: calc(1px * var(--sqrt-2));
    transform: skewX(45deg);
}

.call-tree--item::after {
    left: 54px;
    border-right-width: calc(1px * var(--sqrt-2));
    transform: skewX(-45deg);
}

.call-tree--node-status-icon {
    background-color: var(--bs-white);
    clip-path: circle(closest-side);
    padding: 2px;
}

.horizontal_splitter_bar {
    background-color: var(--bs-secondary);
    width: 4px;
    align-self: stretch;
    cursor: col-resize;
}

/* Utilities */

/* A short transition animation */
.transition {
    transition: all 200ms;
}

.height-fullscreen {
    height: 100dvh;
}