/// The `ThreadView` component
.thread-view {
    /// Minimum height for dropdown menus
    min-height: 200px;
    /// Allow panning and zooming, but disallow double tap so there's no delay when
    /// single clicking on controls.
    touch-action: manipulation;
}

.thread_view__connector {
    position: absolute;
    left: 16px;
}

.thread-view__socket {
    z-index: 100;
    fill: var(--bs-white);
}

.thread-view__plug {
    z-index: 101;
    fill: currentColor;
}

/// An element with an expanding/contracting animation
.animated-expanding-node {
    width: 100%;
    height: 100%;
    transition: all 200ms;
}

/// A speech bubble with an arrow on top for displaying below another element
.speech-bubble-below {
    --arrow-size: 12px;
    --arrow-offset: 12px;
    position: relative;
}

@mixin speech-bubble-arrow-top {
    border: var(--arrow-size) solid transparent;
    content: "";
    position: absolute;
    left: var(--arrow-offset);
    width: 0;
    height: 0;
}

.speech-bubble-below:before {
    @include speech-bubble-arrow-top;
    border-bottom-color: var(--bs-secondary);
    top: calc(-2 * var(--arrow-size));
}

.speech-bubble-below:after {
    @include speech-bubble-arrow-top;
    border-bottom-color: var(--bs-white);
    top: calc(-2 * var(--arrow-size) + 1px);
}

.horizontal_splitter_bar {
    background-color: var(--bs-secondary);
    width: 4px;
    align-self: stretch;
    cursor: col-resize;
}